// Define tags to be assigned to resources
tags = {
  "env"         = "dev"                    // Environment type
  "owner"       = "Alejandro Pina"         // Owner of the resources
  "cloud"       = "Azure"                  // Cloud provider
  "IAC"         = "Terraform"              // Infrastructure as Code tool used
  "IAC_Version" = "1.5.7"                  // Version of Terraform used
  "project"     = "azure_test"             // Project name
  "region"      = "East US"                // Geographic region
}

// Azure Resource Group variables
resource_group_name = "azure-beta-resources" // Name of the resource group
location            = "West Europe"          // Location of the resource group

// Azure Virtual Network variables
virtual_network_name = "azure-beta-network" // Name of the virtual network
address_space        = ["10.0.0.0/16"]       // Address space of the virtual network

// Azure Subnet variables
subnet_name      = "internal"              // Name of the subnet
address_prefixes = ["10.0.2.0/24"]         // Address prefixes of the subnet

// Azure Network Security Group variables
nsg_name = "azure-beta-nsg"               // Name of the network security group

// Azure Network Interface variables
nic_name                      = "azure-beta-nic"                  // Name of the network interface
name_ip_configuration         = "internal"                        // Name of the IP configuration
private_ip_address_allocation = "Dynamic"                         // IP address allocation method

// Azure Linux Virtual Machine variables
vm_count       = 3                                         // Number of virtual machines
vm_name        = "azure-beta-vm"                          // Base name of the virtual machines
vm_size        = "Standard_B1s"                          // Size of the virtual machines
admin_username = "adminuser"                              // Admin username for the virtual machines
computer_name  = "azure-beta"                             // Computer name prefix for the virtual machines
os_disk_caching              = "ReadWrite"                 // Caching option for the OS disk
os_disk_storage_account_type = "Standard_LRS"             // Storage account type for the OS disk
source_image_reference_publisher = "Debian"               // Publisher of the source image
source_image_reference_offer = "debian-11"                // Offer of the source image
source_image_reference_sku     = "11"                     // SKU of the source image
source_image_reference_version = "latest"                 // Version of the source image
ssh_public_key_path = "~/.ssh/id_rsa.pub"                 // Path to the SSH public key
ssh_priv_key_path   = "~/.ssh/id_rsa"                     // Path to the SSH private key
